#### ë³¸ ë…¸íŠ¸ë¶ íŒŒì¼ì€ ë°©ê¸ˆ í‡´ê·¼í•˜ê³  ì˜¨ ìŠ¤íŠ¸ë ˆìŠ¤ë¡œ ê°€ë“ì°¬ "ë¬¸ì†¡í•œ ê°œë°œì"ì˜ ê¸°ë¡ì…ë‹ˆë‹¤.<br>ğŸ˜¼ìƒë‹¹íˆ ë§ì€ í­ë ¥ì ì¸ í‘œí˜„ì´ í‘œí˜„ë˜ì–´ ìˆìœ¼ë©° ê´‘ê¸° ë„˜ì¹˜ëŠ” ë¬¸ì¥ì´ ë²”ëŒí•˜ê³  ìˆìœ¼ë¯€ë¡œ ì—´ëŒì— ì£¼ì˜í•˜ì—¬ì£¼ì„¸ìš”<br>ì˜¤ëŠ˜ì˜ ìŠ¤íŠ¸ë ˆìŠ¤ ì§€ìˆ˜ <font color='red'>80</font>

In [2]:
from transformers import pipeline

/home/kk4ever/anaconda3/envs/hg/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

ê¸°ë³¸ì ìœ¼ë¡œ ë‹¤ìš´ ë°›ì•„ì§€ëŠ” ëª¨ë¸,<br>
ê°€ì¤‘ì¹˜ê°€ ìˆë‹¤. ìœ„ ë©”ì‹œì§€ì²˜ëŸ¼ "distilbert/distilbert-base-uncased-finetuned-sst-2-english"ì˜ ëª¨ë¸ì´ ë‹¤ìš´ ë°›ì•„ì¡Œê³  "classfier"ë¡œ ì¸ìŠ¤í„´ìŠ¤í™” ë˜ì—ˆë‹¤.

In [3]:
classfier = pipeline("text-classification")

No model was supplied, defaulted to distilbert/distilbert-base-uncased-finetuned-sst-2-english and revision af0f99b (https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.

ê·¸ë ‡ë‹¤ë©´ í´ë˜ìŠ¤ ì´ë¦„ì´ ë­”ì§€ ì‚´í´ë³´ì

In [4]:
type(classfier)

transformers.pipelines.text_classification.TextClassificationPipeline

pipeline()ìœ¼ë¡œ ë¦¬í„´ ë°›ì•˜ìœ¼ë‹ˆ ë‹¹ì—°íˆ Pipelineí´ë˜ìŠ¤ë¥¼ ìƒì†ë°›ëŠ” TextClassificationPipelineí´ë˜ìŠ¤ê°€ ì¸ìŠ¤í„´ìŠ¤í™” ë˜ì—ˆë‹¤.<br>
__call__()ê°€ ì˜¤ë²„ë¼ì´ë“œ ë˜ì—ˆëŠ”ë° ë°ì´í„°ì „ì²˜ë¦¬ì´í›„ì— ë¶€ëª¨í´ë˜ìŠ¤ì˜ __call__()ì„ í˜¸ì¶œí•œë‹¤.<br>
<br>
ì•„ë˜ëŠ” ì˜¤ë²„ë¼ì´ë“œ ëœ __call__()
<pre>
        inputs = (inputs,)
        result = super().__call__(*inputs, **kwargs)
        # TODO try and retrieve it in a nicer way from _sanitize_parameters.
        _legacy = "top_k" not in kwargs
        if isinstance(inputs[0], str) and _legacy:
            # This pipeline is odd, and return a list when single item is run
            return [result]
        else:
            return result

</pre>

ì±…ì—ì„œ "ë©‹ì§€ê²Œ" ì¶œë ¥í•˜ìê³  ì œì•ˆí–ˆë‹¤<br>ê±´ë°©ì§€ì§€ë§Œ ë”°ë¥´ë„ë¡ í–ˆë‹¤

In [5]:
import pandas as pd

1ì°¨ì‹œë„ - ã…‹ã…‹ã…‹ ì•„ë‹Œë°? ê¸ì • ì•„ë‹Œë°?

In [6]:
# ì„ì˜ í…ìŠ¤íŠ¸
text_1 = ''''The motive of human society is in the last resort an economic one.' 
It was Freud, not Karl Marx, who made this statement, in his Introductory Lectures on Psychoanalysis. 
What has dominated human history to date is the need to labour; 
and for Freud that harsh necessity means that we must repress some of our tendencies to pleasure and gratification.'''

outputs_1 = classfier(text_1)
pd.DataFrame(outputs_1)

      label     score
0  POSITIVE  0.813539

2ì°¨ì‹œë„ - ì˜í–ˆì–´. ê·¼ë° ê·¸ëƒ¥ ë¶€ì •ì ì¸ ë‹¨ì–´ê°€ ì¶”ê°€ë˜ì–´ì„œ ê·¸ëŸ°ê²ƒ ê°™ì•„

In [7]:
text_2 = '''It is clear that the child in this state is not even prospectively a citizen
who could be relied upon to do a hard day's work. It is anarchic, sadistic,
aggressive, self-involved and remorselessly pleasure-seeking, under the
sway of what Freud calls the pleasure principle; nor does it have any respect
for differences of gender.'''

outputs_2 = classfier(text_2)
pd.DataFrame(outputs_2)

      label     score
0  NEGATIVE  0.993207

3ì°¨ì‹œë„ - ì˜í–ˆì–´. ë„ˆëŠ” ì„±ì°¨ë³„ì£¼ì˜ìê°€ ì•„ë‹ˆêµ¬ë‚˜

In [8]:
text_3 = '''The work of psychoanalysis can perhaps best be summarized in one of
Freud's own slogans: 'Where id was, there shall ego be.' Where men and women were in the paralysing 
grip of forces which they could not comprehend, there reason and self-mastery shall reign.
Such a slogan makes Freud sound rather more of a rationalist than he actually was'''

outputs_3 = classfier(text_3)
pd.DataFrame(outputs_3)

      label     score
0  NEGATIVE  0.996146

In [9]:
text_4 = '''It is opposed to all
fixed, transcendental significations; and since the ideologies of modern
male-dominated class-society rely on such fixed signs for their power (God,
father, state, order, property and so on), such literature becomes a kind of 
equivalent in the realm of language to revolution in the sphere of politics.'''

outputs_4 = classfier(text_4)
pd.DataFrame(outputs_4)

      label     score
0  POSITIVE  0.969136

4ì°¨ì‹œë„_ì¶”ê°€ - ë’¤ì˜ ë¬¸ì¥ì„ ì¶”ê°€í•˜ë©´ ë¶€ì •ì ì´ëœë‹¤ - íœ´ ë‹¤í–‰, ì§„ì‹¬ìœ¼ë¡œ íŒŒê´´í•  ë»”

In [10]:
text_4_add = '''It is opposed to all
fixed, transcendental significations; and since the ideologies of modern
male-dominated class-society rely on such fixed signs for their power (God,
father, state, order, property and so on), such literature becomes a kind of
equivalent in the realm of language to revolution in the sphere of
politics. The reader of such texts is equally disrupted or 'decentred' by this
linguistic force, thrown into contradiction, unable to take up any one, simple
'subject-position' in relation to these polymorphous works.'''

outputs_4_add = classfier(text_4_add)
pd.DataFrame(outputs_4_add)

      label     score
0  NEGATIVE  0.996108

5ì°¨ì‹œë„ - ê·¸ë ‡ë‹¤ë©´ ì´ ë¬¸ì¥ì€ ì–´ë–¨ê¹Œ, ì¼ë‹¨ ì˜¤ì¼€ì´ ë¶€ì •ì ì´ ë‚˜ì˜¬ ì¤„ì€ ì˜ˆìƒí–ˆì–´

In [11]:
text_5 = '''The semiotic
throws into confusion all tight divisions between masculine and feminine -
it is a 'bisexual' form of writing - and offers to deconstruct all the
scrupulous binary oppositions â€” proper/improper, norm/deviation, sane/
mad, mine/yours, authority/obedience â€” by which societies such as ours
survive'''

outputs_5 = classfier(text_5)
pd.DataFrame(outputs_5)

      label     score
0  NEGATIVE  0.958757

5ì°¨ì‹œë„_ì¶”ê°€ - ì´í•´í•  ìˆ˜ ìˆëŠ” ë²”ìœ„ê¹Œì§€ ë‚´ìš©ì„ ì „ë¶€ ë„£ì–´ë´„

In [12]:
text_5_add = '''In her book La Revolution du langage poetique (1974), Kristeva
therefore opposes to the symbolic not so much the imaginary, as what she
terms the 'semiotic'. She means by this a pattern or play of forces which we
can detect inside language, and which represents a sort of residue of the preOedipal phase.
Kristeva looks to this 'language' of the semiotic as a means of undermining the symbolic order. 
In the writings of some of the French Symbolist
poets and other avant-garde authors, the relatively secure meanings of'ordinary' 
language are harassed and disrupted by this flow of signification, which
presses the linguistic sign to its extreme limit, values its tonal, rhythmic and
material properties, and sets up a play of unconscious drives in the text
which threatens to split apart received social meanings. The semiotic is fluid
and plural, a kind of pleasurable creative excess over precise meaning, and it
takes sadistic delight in destroying or negating such signs. It is opposed to all
fixed, transcendental significations; and since the ideologies of modern
male-dominated class-society rely on such fixed signs for their power (God,
father, state, order, property and so on), such literature becomes a kind of
equivalent in the realm of language to revolution in the sphere of
politics. The reader of such texts is equally disrupted or 'decentred' by this
linguistic force, thrown into contradiction, unable to take up any one, simple
'subject-position' in relation to these polymorphous works. The semiotic
throws into confusion all tight divisions between masculine and feminine -
it is a 'bisexual' form of writing - and offers to deconstruct all the
scrupulous binary oppositions â€” proper/improper, norm/deviation, sane/
mad, mine/yours, authority/obedience â€” by which societies such as ours
survive.
'''

outputs_5_add = classfier(text_5_add)
pd.DataFrame(outputs_5_add)

      label     score
0  NEGATIVE  0.990941

ê²°ë¡  : ì„±ëŠ¥ì´ ì¢‹ì§€ ì•Šë‹¤ëŠ” ê²°ë¡ ì´ ì•„ë‹ˆë‹¤. ê° ë„ë©”ì¸ì— ë§ëŠ” ì–‘ì§ˆì˜ ë°ì´í„°ë¡œ í•™ìŠµí•´ì•¼í•œë‹¤ëŠ” ì¤‘ìš”ì„±ì„ ì²´í¬ í–ˆì„ ë¿

ë§ˆì§€ë§‰ìœ¼ë¡œ "ìš°ë¦¬ëŠ” ì •ë§ ë‚˜ì•„ì§€ëŠ”ê°€"ì— ëŒ€í•œ ì§ˆë¬¸

In [13]:
extra_1 = '''Early morning city buses run with unexpected and brilliant decorations on the windows.
The frosty flower that blooms brighter in harsh winters
The breath and breath of the virgin, bachelor, child, adult, hairdresser, salesman, housekeeper, and unemployed person who rode this bus yesterday met secretly last night and created a sparkling and amazing beauty.
As if I were at some kind of exhibition, I move around and look at a single flower leaf and become intoxicated by its delicate yet cold beauty.'''

extra_output_1 = classfier(extra_1)
pd.DataFrame(extra_output_1)

      label     score
0  POSITIVE  0.999785

In [15]:
extra_2 = '''Whether it is someone's heavy sigh or the passionate breath of a hot heart, I erase a leaf of frost with my finger and look at it with my breath without any hesitation.
My friend, whose face is young and dull against the rattling window, has been walking down the street with me for a long time, but is now forbidden to even visit me.'''

extra_output_2 = classfier(extra_2)
pd.DataFrame(extra_output_2)

      label     score
0  POSITIVE  0.915251

In [16]:
extra_output = classfier(extra_1 + extra_2)
pd.DataFrame(extra_output)

      label     score
0  POSITIVE  0.999302