#### ë³¸ ë…¸íŠ¸ë¶ íŒŒì¼ì€ ë°©ê¸ˆ í‡´ê·¼í•˜ê³  ì˜¨ ìŠ¤íŠ¸ë ˆìŠ¤ë¡œ ê°€ë“ì°¬ "ë¬¸ì†¡í•œ ê°œë°œì"ì˜ ê¸°ë¡ì…ë‹ˆë‹¤.<br>ğŸ˜¼ìƒë‹¹íˆ ë§ì€ í­ë ¥ì ì¸ í‘œí˜„ì´ í‘œí˜„ë˜ì–´ ìˆìœ¼ë©° ê´‘ê¸° ë„˜ì¹˜ëŠ” ë¬¸ì¥ì´ ë²”ëŒí•˜ê³  ìˆìœ¼ë¯€ë¡œ ì—´ëŒì— ì£¼ì˜í•˜ì—¬ì£¼ì„¸ìš”<br>ì˜¤ëŠ˜ì˜ ìŠ¤íŠ¸ë ˆìŠ¤ ì§€ìˆ˜ <font color='red'>80</font>

In [3]:
from transformers import pipeline
import pandas as pd

ì•„ ì´ì „ì— ì¨ë¨¹ë˜ ê°œì²´ëª…ì¸ì‹ ë°©ë²• ë§ê³ ~

In [12]:
ner_tagger = pipeline('ner', aggregation_strategy='simple')

No model was supplied, defaulted to dbmdz/bert-large-cased-finetuned-conll03-english and revision f2482bf (https://huggingface.co/dbmdz/bert-large-cased-finetuned-conll03-english).
Using a pipeline without specifying a model name and revision in production is not recommended.
Some weights of the model checkpoint at dbmdz/bert-large-cased-finetuned-conll03-english were not used when initializing BertForTokenClassification: ['bert.pooler.dense.bias', 'bert.pooler.dense.weight']
- This IS expected if you are initializing BertForTokenClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForTokenClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

ì´ê±° í•˜ë‚˜ í•´ë³´ë©´ ë ë“¯ êº½ì‡ ë„ ë„£ì–´ì¤¬ë‹¤~

In [13]:
text_1 = '''In her <book La Revolution du langage poetique (1974)>, Kristeva therefore opposes to the symbolic not so much the imaginary, as what she terms the 'semiotic'. She means by this a pattern or play of forces which wecan detect inside language, and which represents a sort of residue of the preOedipal phase.'''

outputs_1 = ner_tagger(text_1)
pd.DataFrame(outputs_1)
#????????????

  entity_group     score                      word  start  end
0         MISC  0.941874  La Revolution du langage     13   37
1         MISC  0.916655                    ##ique     42   46
2          PER  0.928778                  Kristeva     56   64

In [18]:
text_2 = '''Early morning city buses run with unexpected and brilliant decorations on the windows. The frosty flower that blooms brighter in harsh winters The breath and breath of the virgin, bachelor, child, adult, hairdresser, salesman, housekeeper, and unemployed person who rode this bus yesterday met secretly last night and created a sparkling and amazing beauty. As if I were at some kind of exhibition, I move around and look at a single flower leaf and become intoxicated by its delicate yet cold beauty.'''

outputs_2 = ner_tagger(text_2)
pd.DataFrame(outputs_2)
#????????????

Empty DataFrame
Columns: []
Index: []

ê·¸ë˜ ë¨¹ê³ ì‹¶ì€ëŒ€ë¡œ ë¨¹ìœ¼ë ´

In [20]:
text_you_want = '''Dear Amazon, last week I ordered an Optimus Prime action figure \
from your online store in Germany. Unfortunately, when I opened the package, \
I discovered to my horror that I had been sent an action figure of Megatron \
instead! As a lifelong enemy of the Decepticons, I hope you can understand my \
dilemma. To resolve the issue, I demand an exchange of Megatron for the \
Optimus Prime figure I ordered. Enclosed are copies of my records concerning \
this purchase. I expect to hear from you soon. Sincerely, Bumblebee.'''

outputs_didnt_want = ner_tagger(text_you_want)
pd.DataFrame(outputs_didnt_want)

  entity_group     score           word  start  end
0          ORG  0.879011         Amazon      5   11
1         MISC  0.990859  Optimus Prime     36   49
2          LOC  0.999755        Germany     90   97
3         MISC  0.556571           Mega    208  212
4          PER  0.590255         ##tron    212  216
5          ORG  0.669692         Decept    253  259
6         MISC  0.498349        ##icons    259  264
7         MISC  0.775362       Megatron    350  358
8         MISC  0.987854  Optimus Prime    367  380
9          PER  0.812096      Bumblebee    502  511